body{
	width:40%;
	margin:auto;
	font-family: Times New Romen, serif;
}

p{
 text-align:center
}
h1{
	text-align:center;
	font-size:14pt;
}
#cicaferj{
	text-align:center;
}
#1{
	font-family: Times New Romen, arial;
}